extends ../layouts/user_layout
block content
    #header
        .area-avata
            a(href='/user/addAvata' style='text-decoration: none;')
                if user.avata.length === 0
                    img.avata(src='/img/avata_default.png' title='Edit image')
                else
                    img.avata(src=user.avata[user.avata.length-1] title='Edit image')
        .area-text
            .text-1
                p.username= user.username
                a.btn-profile(href='#') Edit profile
                a.btn-profile(href='#') Upload image
            .infor
                p.name= user.name
                p.name &nbsp - &nbsp
                p.name= user.phone
            a(style='text-decoration: none; font-size: 18px;' href=user.web target='blank')= user.web
    .allAvata
        - var size = user.avata.length;
        if (size === 0)
            a(href='#')
                img.avata_tiny(src='/img/avata_default.png' title='Replace avata')
        else if (size === 1)
            a(href='#')
                img.avata_tiny(src=user.avata[0] title='Replace avata')
        else if (size === 2)
             each val in [0,1]
                a(href='#')
                    img.avata_tiny(src=user.avata[val] title='Replace avata')
        else if (size === 3)
             each val in [0,1,2]
                a(href='#')
                    img.avata_tiny(src=user.avata[val] title='Replace avata')
        else if (size === 4)
             each val in [0,1,2,3]
                a(href='#')
                    img.avata_tiny(src=user.avata[val] title='Replace avata')
        else if (size === 5)
            each val in [0,1,2,3,4]
                a(href='#')
                    img.avata_tiny(src=user.avata[val] title='Replace avata')
        else if (size ===6)
            each val in [0,1,2,3,4,5]
                a(href='#')
                    img.avata_tiny(src=user.avata[val] title='Replace avata')
        else if (size > 6)
            each val in [size-2, size-3, size-4, size-5, size-6, size-7]
                a(href='#')
                    img.avata_tiny(src=user.avata[val] title='Replace avata')
    .area-status
        h3(style='text-align: center; font-size: 13px;font-family: Arial, Helvetica, sans-serif;')
            i.fas.fa-th
            | &nbspSTATUS
        a.link-status(href='#')
            img.img-status(src='../img/imgfooter/providence-doucet-mE5MBZX5sko-unsplash.jpg')
        a.link-status(href='#')
            img.img-status(src='../img/imgfooter/providence-doucet-mE5MBZX5sko-unsplash.jpg')
        a.link-status(href='#')
            img.img-status(src='../img/imgfooter/providence-doucet-mE5MBZX5sko-unsplash.jpg')
        a.link-status(href='#')
            img.img-status(src='../img/imgfooter/providence-doucet-mE5MBZX5sko-unsplash.jpg')
